$primary-font-family: 'Inter', sans-serif;;

$primary-color: #333;
$secondary-color: #2F80ED;
$black-color: #000;
$gray-color-750: #79747E;
$gray-color-700: #828282;
$gray-color-650: #E6E0E9;
$gray-color-600: #4F4F4F;
$gray-color-550: #BDBDBD;
$gray-color-500: #E0E0E0;
$gray-color-400: #F9F9F9;
$gray-color-300: #F2F2F2;
$white-color: #fff;
$red-color: red;
$green-color: #59B110;